body,html{
background-color:rgb(255, 255, 255);
}
.nav-underline 
.nav-link {
  position: relative;
  color: black; 
  text-decoration: none; 
  transition: color 0.3s;
  font-weight: bold;
}

.navbar{
  background-color: rgb(255, 255, 255) ;
  color: rgb(218, 211, 211);
  
}
  
.nav-underline .nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px; 
  bottom: 0;
  right: 0; 
  background-color: green; 
  transition: width 0.3s;
}

.nav-underline .nav-link:hover {
  color: rgb(46, 227, 244);
}

.read-more {
  display: block;
  margin-top: 10px; 
  color: rgb(0, 0, 0); 
  text-decoration: none;
}

.read-more::after {
  font-weight: bold;
  content: ' >>';
}

.card{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}